:root{
    --main-font-color: #5de4e4;
    --dark-bg-color: #191d27; 
    --main-font-size: min(3vh, 3vw);
    --second-font-size: min(2vh, 2vw);
}

* {
    box-sizing: border-box;
    font-family: 'Exo 2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.left-container {
    display: flex;
    padding: 0;
    margin: 0;
    background-image: url("./images/background.jpg");
    background-color: var(--dark-bg-color);
    background-size: 100vh;
    background-repeat: no-repeat;
    width: 35%;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.left-container > p {
    background-color: var(--dark-bg-color);
}

.right-container {
    width: 70%;
    background-color: #191b25;
}

.right-container > div {
    padding: 0 10vw 0 48px;
    height: calc(100% / 3);
}

.header-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-font-color);
    font-size: var(--main-font-size);
}

.header-description > p {
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #23475f;
    box-shadow: 0px 0px 20px 0px #78ffff;
    justify-content: space-evenly;
}

.form-container > p {
    font-size: var(--main-font-size);
    font-weight: 800;
    color: var(--main-font-color);
    margin: 0;
}

form {
    color: white;
    font-size: var(--second-font-size);
}

form label {
    padding-right: 4px ;
}

.form-row {
    display: flex;
    padding: 10px;
    gap: 30px;
}

.form-data label {
    display: block;
}

form label , form input { 
    font-size: var(--second-font-size);
}

button {
    width: 12rem;
    height: 2.3rem;
    background-color: #2f9797;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

button:hover {
    box-shadow: 0px 0px 5px 0px #78ffff;
}

.button-area {
    padding-top: 30px;
    color: #ebebeb;
    font-size: 18px;
}

.button-area p {
    margin-top: 4px;
}


a {
    text-decoration: none;
    color: var(--main-font-color);
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}

